<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>测试选择</title>
    <link rel="stylesheet" href="../static/bootstrap.css">
    <link rel="stylesheet" href="../static/bootstrap-theme.css">
    <script src="../static/jquery-3.2.1.min.js"></script>
    <script src="../static/bootstrap.js"></script>
</head>
<body>
<form action="" method="post">
<h1 class="alert alert-info">{{ request.session.s.name }} 请选择考试内容</h1>
<table class="table tab-content table-hover">
    <h3>请选择科目</h3>
    {% for c in class %}
        <tr>
            <td>
                <input name="name" type="checkbox" value="{{ c.id }}">{{ c.name }}
            </td>
        </tr>
    {% endfor %}
    <tr>
        <td>
            <h3>请选择题数</h3>
        </td>
    </tr>
    <tr>
        <td>
            <input type="radio" value="5" name="tishu">5道题
            <input type="radio" value="6" name="tishu">6道题
            <input type="radio" value="7" name="tishu">7道题
        </td>
    </tr>
    <tr><td><button>开始测试</button>&nbsp;&nbsp;&nbsp;&nbsp;<a class="btn btn-danger" href="{% url 'mistakes' %}">历史错题</a><span>共{{ mis }}道</span></td></tr>
</form>
</table>
</body>
</html>