<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>错题</title>
</head>
<body>
<form action="" method="post">
    <table>
        {% for mi in mis %}
            <tr>
                <td colspan="4">{{ mi.ti_id.title }}</td>
            </tr>
            <tr>
                <td><input type="radio" name="{{ mi.ti_id.id }}" value="{{ mi.ti_id.id }},A">{{ mi.ti_id.A }}</td>
                <td><input type="radio" name="{{ mi.ti_id.id }}" value="{{ mi.ti_id.id }},B">{{ mi.ti_id.B }}</td>
                <td><input type="radio" name="{{ mi.ti_id.id }}" value="{{ mi.ti_id.id }},C">{{ mi.ti_id.C }}</td>
                <td><input type="radio" name="{{ mi.ti_id.id }}" value="{{ mi.ti_id.id }},D">{{ mi.ti_id.D }}</td>
            </tr>
        {% endfor %}
        <tr>
            <td><button>提交</button></td>
        </tr>
    </table>
</form>
</body>
</html>